/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey: #f2f2f2;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-grey: #eaeaea;
  --special-grey-medium: #dcdcdc;
  --special-grey-light: #ebebeb;
  --special-grey-paginator: #d9d9d9;
  --special-yellow-medium: #ffc600;

  --status-pink: #f6dada;
}

/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/gilroylight.woff2") format("woff2"), url("./fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/gilroyextrabold.woff2") format("woff2"), url("./fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";
  font-display: swap;
  src: url("./fonts/opensanslight.woff2") format("woff2"), url("./fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("./fonts/opensans.woff2") format("woff2"), url("./fonts/opensans.woff") format("woff");
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

/* Button */

.button {
  display: inline-block;
  cursor: pointer;
  border: transparent;
  font-family: inherit;
  background-color: transparent;
  outline: none;
}
.button--bg-yellow {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px 20px;
  z-index: 1;
}
.button--bg-yellow::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--special-yellow-dark);
  width: 100%;
  left: 0;
  right: 0;
  top: 7px;
  bottom: 7px;
  transition: all .4s;
}
.button--bg-yellow:hover::before,
.button--bg-yellow:focus::before {
  margin: 0;
  top: 0;
  bottom: 0;
}
.button__span {
  text-align: center;
}
.button__span:active {
  opacity: 0.3;
}

/* Title */

.title--bold {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 2px;
}
.title--medium {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Header */

.page {
  height: 100%;
}
.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.page-header {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 21px;
  margin-top: 20px;
}
.page-header__logo {
  margin-left: 60px;
  cursor: pointer;
}
.page-header__navigation {
  display: grid;
  margin-top: -20px;
  background-color: var(--special-yellow);
  padding-bottom: 45px;
}
.main-navigation {
  display: grid;
  grid-template-columns: 51% 2fr 1fr 1fr;
  margin: 44px 60px 43px;
}
.main-navigation__form {
  position: relative;
}
.main-navigation__form::before {
  content: '';
  position: absolute;
  background-image: url(./img/icon_search.svg);
  width: 16px;
  height: 16px;
}
.main-navigation__input {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 38px;
}
.main-navigation__input:hover {
  opacity: 0.6;
}
.main-navigation__input:focus {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}
.main-navigation__button-form {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  opacity: 0;
  border: 2px solid transparent;
  text-transform: uppercase;
}
.main-navigation__input:focus + .main-navigation__button-form {
  border: 2px solid var(--basic-black);
  opacity: 1;
  background-color: transparent;
}
.main-navigation__input:focus + .main-navigation__button-form:hover,
.main-navigation__button-form:focus {
  border: 2px solid var(--basic-black);
  opacity: 1;
  color: var(--basic-white);
  background-color: var(--basic-black);
}
.main-navigation__button-form:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-navigation__button {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  background-color: transparent;
  color: var(--basic-black);
  outline: none;
  padding: 0;
  text-align: end;
}
.main-navigation__button--enter {
  text-align: start;
  margin-left: 24px;
}
.main-navigation__button::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}
.main-navigation__button--enter::before {
  width: 13px;
  height: 14px;
  background-image: url("./img/user-black.svg");
  left: -25px;
}
.main-navigation__button--compare::before {
  width: 14px;
  height: 14px;
  background-image: url("./img/chart-black.svg");
  left: 30px;
}
.main-navigation__button--basket::before {
  width: 10px;
  height: 10px;
  background-image: url("./img/cart-black.svg");
  left: 40px;
}
.main-navigation__button:hover::before,
.main-navigation__button:focus::before {
  opacity: 0.6;
}
.main-navigation__button:active::before {
  opacity: 0.3;
}
.site-navigation {
  margin: 0px 60px 0px;
}
.site-navigation__list {
  display: grid;
  grid-template-columns: 51% 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation__link {
  display: block;
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--basic-black);
  outline: none;
  margin-bottom: 30px;
}
.site-navigation__link--catalog::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(./img/icon_plus.svg);
  left: 210px;
}
.site-navigation__item:last-child {
  text-align: end;
}
.main-navigation__button:hover,
.main-navigation__button:focus,
.site-navigation__link:hover,
.site-navigation__link:focus,
.page-header__logo:hover,
.page-header__logo:focus,
.catalog-menu__link:hover,
.catalog-menu__link:focus {
  opacity: 0.6;
}
.main-navigation__button:active,
.site-navigation__link:active,
.page-header__logo:active,
.catalog-menu__link:active {
  opacity: 0.3;
}
.site-navigation__catalog {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  height: 168px;
}
.catalog-menu__item {
  margin-bottom: 20px;
  margin-right: 60px;
}
.catalog-menu__item:nth-child(3n+1) { order: 1; }
.catalog-menu__item:nth-child(3n+2) { order: 2; }
.catalog-menu__item:nth-child(3n) { order: 3; }
.catalog-menu__item:nth-child(6n) { order: 1; }

.site-navigation__catalog::before,
.site-navigation__catalog::after {
  content: '';
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.site-navigation__item--catalog:hover > .site-navigation__link--catalog + .site-navigation__catalog {
  display: flex;
  z-index: 3;
}
.site-navigation__link--catalog:focus + .site-navigation__catalog {
  display: flex;
}
.site-navigation__item--catalog {
  position: relative;
}
.site-navigation__item--catalog::before {
  content: '';
  position: absolute;
  width: 1160px;
  height: 150px;
  top: 50px;
  left: -60px;
  background-color: var(--special-yellow);
  display: none;
  z-index: 3;
}
.site-navigation__item--catalog:hover::before {
  display: block;
}
.catalog-menu__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: var(--basic-black);
  outline: none;
}

/* Main */

.page-main__slider {
  margin-bottom: 96px;
  position: relative;
}
.slider__inner {
  background: linear-gradient(to bottom, var(--special-yellow) 20%, var(--basic-white) 20% 80%);
}
.slider-main__container {
  display: none;
  position: relative;
  padding-top: 43px;
  margin: 0 0 96px 35px;
}
.slider-main__container--current {
  display: flex;
}
.slider-main__container--current::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 7px;
  left: 565px;
  top: -7px;
  background-color: var(--basic-white);
}
.slider-main__container--current::after {
  content: '';
  position: absolute;
  top: -50px;
  right: 47px;
  width: 212px;
  height: 170px;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
}
.slider-main__container--current-1::after {
  content: '01';
}
.slider-main__container--current-2::after {
  content: '02';
}
.slider-main__container--current-3::after {
  content: '03';
}
.slider-main__img {
  margin-right: 44px;
  margin-bottom: 72px;
}
.slider-main__img--braslett {
  margin-right: 139px;
}
.slider-main__inner {
  z-index: 2;
}
.slider-main__title {
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0px;
  margin: 10px 0 25px;
}
.slider-main__paragraph {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 20px;
  margin: 0;
  margin-right: 100px;
  margin-bottom: 60px;
}
.slider-main__tablet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
}
.slider-tablet__row {
  display: flex;
  margin-bottom: 10px;
}
.slider-tablet__data {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-right: 90px;
}
.slider-tablet__data--small {
  font-size: 13px;
  line-height: 15px;
  margin-right: 60px;
}
.slider__button {
  position: absolute;
  bottom: 137px;
  right: 88px;
  z-index: 20;
  display: flex;
}
.slider-button__toggle {
  padding: 0;
  width: 12px;
  height: 12px;
  background-image: url(./img/slider-button-empty.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.slider-button__toggle:not(:last-child) {
  margin-right: 18px;
}
.slider-button__toggle--current {
  background-image: url(./img/slider-button-current.svg);
}
.page-main__catalog {
  margin-bottom: 69px;
}
.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.catalog__inner {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  z-index: 2;
}
.catalog__inner:hover,
.catalog__inner:focus {
  background-color: var(--special-yellow-dark);
}
.catalog__img:active {
  opacity: 0.3;
}
.page-main__information {
  background-color: var(--basic-grey-light);
  margin-bottom: 90px;
}
.information__wrapper {
  display: flex;
}
.information__list {
  list-style: none;
}
.information__paragraph {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 30px;
}
.page-main__producers {
  margin-bottom: 90px;
}
.producers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
.producers__img--dji:hover,
.producers__img--dji:focus,
.producers__img--dji:active {
  background-image: url(./img/logo-dji-color.png);
}
.producers__img--sp:hover,
.producers__img--sp:focus,
.producers__img--sp:active {
  background-image: url(./img/logo-sp-color.png);
}
.producers__img--gopro:hover,
.producers__img--gopro:focus,
.producers__img--gopro:active {
  background-image: url(./img/logo-gopro-color.png);
}
.producers__img--vive:hover,
.producers__img--vive:focus,
.producers__img--vive:active {
  background-image: url(./img/logo-vive-color.png);
}
.page-main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 86px;
}
.page-main__title {
  margin: 50px 0;
  position: relative;
}
.page-main__title::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: -50px;
}
.page-main__description {
  margin-right: 105px;
}
.description__paragraph {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  margin-bottom: 40px;
}
.description__list {
  margin: 20px 0 96px;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
  padding-left: 32px;
}
.description__item {
  position: relative;
  margin-bottom: 21px;
}
.description__item::before {
  content: '';
  position: absolute;
  background-image: url(./img/Ellipse.svg);
  width: 8px;
  height: 8px;
  left: -26px;
  bottom: 10px;
}
.contacts__paragraph {
  margin: 0;
  margin-bottom: 40px;
}
.contacts__map {
  margin-bottom: 85px;
}

/* Footer */

.page-footer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: var(--basic-dark);
}
.page-footer__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 46px;
  margin-bottom: 40px;
}
.footer-navigation__logo {
  cursor: pointer;
  margin-top: 18px;
}
.footer-navigation__logo:hover,
.footer-navigation__logo:focus {
  opacity: 0.6;
}
.footer-navigation__logo:active {
  opacity: 0.3;
}
.footer-navigation__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.footer-navigation__item:not(:last-child) {
  margin-right: 63px;
}
.footer-navigation__button {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
}
.footer-navigation__button:hover,
.footer-navigation__button:focus {
  color: var(--basic-white);
}
.footer-navigation__button:active {
  color: var(--basic-white);
  opacity: 0.3;
}
.footer-navigation__button::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  left: -25px;
  bottom: 6px;
}
.footer-navigation__button--enter::before {
  width: 13px;
  height: 14px;
  background-image: url("./img/icon_user.svg");
}
.footer-navigation__button--compare::before {
  width: 14px;
  height: 14px;
  background-image: url("./img/icon_chart.svg");
}
.footer-navigation__button--basket::before {
  width: 10px;
  height: 10px;
  background-image: url("./img/icon_cart.svg");
}
.footer-navigation__button:hover::before,
.footer-navigation__button:focus::before {
  opacity: 0.6;
}
.page-footer__information {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 48px;
}
.footer-information__container {
  margin-right: 60px;
}
.footer-information__paragraph {
  line-height: 20px;
  color: var(--basic-white);
  justify-self: end;
  margin: 0;
}
.footer-information__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-information__item:not(:last-child) {
  margin-right: 36px;
}
.footer-information__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.footer-information__link:hover,
.footer-information__link:focus {
  opacity: 0.6;
}
.footer-information__link:active {
  opacity: 0.3;
}
.footer-information__link-tel {
  color: var(--basic-white);
}
.page-footer__social {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 65px;
}
.social__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}
.social__container::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-medium);
  left: 0;
  bottom: 10px;
}
.social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.social__item {
  display: flex;
  flex-wrap: wrap;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}
.social__link:hover,
.social__link:focus {
  opacity: 1;
}
.social__link:active {
  opacity: 0.1;
}
.social__link--fb {
  background-image: url(./img/icon_facebook.svg);
}
.social__link--insta {
  background-image: url(./img/icon_instagram.svg);
}
.social__link--twitter {
  background-image: url(./img/icon_witter.svg);
}
.social__link-html {
  display: flex;
  justify-content: flex-end;
}
.social__link-html:hover,
.social__link-html:focus {
  opacity: 0.6;
}
.social__link-html:active {
  opacity: 0.3;
}

/* Modal */

.modal__paragraph {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
.modal__input {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--basic-grey);
  border: 2px solid transparent;
  outline: none;
}
.modal__input:hover {
  background-color: var(--special-grey);
}
.modal__input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  color: var(--basic-dark);
}
.modal__input:invalid {
  background-color: var(--status-pink);
  border: 2px solid transparent;
}
.modal__submit-button::before {
  background-color: var(--special-yellow);
}

/* Catalog */

.main-navigation__container {
  position: relative;
}
.main-navigation__container::before {
  content: '';
  position: absolute;
  left: -20px;
  background-repeat: no-repeat;
  width: 13px;
  height: 14px;
  background-image: url("./img/user-black.svg");
}
.main-navigation__link {
  color: var(--basic-black);
  margin-right: 20px;
}
.main-navigation__button--login {
  opacity: 0.3;
}
.page-catalog__title {
  margin: 44px 0 35px 60px;
}
.page-catalog__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 50px 60px;
  padding: 0;
}
.breadcrumbs__item {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 40px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(./img/arrow_nav.svg);
  width: 12px;
  height: 12px;
  right: 20px;
  right: -25px;
  top: 4px;
}
.breadcrumbs__item--monopod {
  opacity: 0.3;
}
.breadcrumbs__link {
  color: var(--basic-black);
  opacity: 0.3;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}
.breadcrumbs__link:active {
  opacity: 0.1;
}
.page-catalog__wrapper {
  position: relative;
  background: linear-gradient(to right, var(--basic-grey-light) 50%, var(--basic-white) 50%);
  z-index: 0;
}
.page-catalog__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, var(--special-grey-medium) 50%, var(--basic-grey-light) 50%);
  z-index: -1;
}
.wrapper__filter {
  display: grid;
  grid-template-columns: 328px 1fr;
}
.page-catalog__filter {
  margin: 0 68px 60px 0;
}
.filter__form {
  margin-top: 70px;
}
.filter__title {
  background-color: var(--special-grey-medium);
  margin: 25px 0;
}
.page-catalog__sorting {
  display: flex;
  flex-direction: column;
}
.filter__container {
  border-top: 2px solid var(--basic-black);
  margin-bottom: 38px;
}
.filter__span-bold {
  display: block;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin: 14px 0 30px;
}
.filter__span-bold--range {
  margin-bottom: 40px;
}
.filter__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  margin: 0;
  padding: 0;
}
.filter__inner {
  position: relative;
  margin-bottom: 17px;
}
.filter__inner .filter__scale {
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
}
.filter__inner .filter__bar {
  width: 70%;
  height: 2px;
  background: var(--special-green);
}
.filter__inner .filter__range-toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  background-image: url(./img/range.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.filter__inner .filter__range-toggle--min {
  left: -3px;
}
.filter__inner .filter__range-toggle--max {
  left: 160px;
}
.filter__price {
  display: flex;
  justify-content: space-between;
}
.filter__label-price {
  font-size: 14px;
  line-height: 16px;
}
.filter__label-price input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  border: transparent;
  background-color: transparent;
  padding: 0;
  width: 100px;
}
.filter__span-light {
  display: block;
  margin-left: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}
.filter__label {
  display: flex;
  cursor: pointer;
  margin-bottom: 15px;
}
.filter__input-checkbox + .filter__checkbox-indicator {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  background-image: url(./img/checkbox-off.svg);
}
.filter__input-checkbox:hover + .filter__checkbox-indicator,
.filter__input-checkbox:focus + .filter__checkbox-indicator {
  opacity: 0.6;
}
.filter__input-checkbox:disabled ~ span {
  opacity: 0.25;
}
.filter__input-checkbox:disabled + .filter__checkbox-indicator {
  opacity: 0.25;
}
.filter__input-checkbox:checked + .filter__checkbox-indicator::after {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 13.54px;
  height: 10.5px;
  background-image: url("./img/Checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 5px;
}
.filter__input-radio + .filter__radio-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}
.filter__input-radio:checked + .filter__radio-indicator::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}
.filter__input-radio:hover + .filter__radio-indicator,
.filter__input-radio:focus + .filter__radio-indicator {
  opacity: 0.6;
}
.filter__input-radio:disabled ~ span {
  opacity: 0.25;
}
.filter__input-radio:disabled + .filter__radio-indicator {
  opacity: 0.25;
}
.sorting__container {
  display: flex;
  background-color: var(--basic-grey-light);
}
.sorting__title {
  margin: 25px 74px 25px 72px;
}
.sorting__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  margin: 0;
  padding: 0;
  margin-right: 219px;
}
.sorting__item:not(:last-child) {
  margin-right: 30px;
}
.sorting__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color:var(--basic-black);
  opacity: 0.3;
}
.sorting__link:hover,
.sorting__link:focus {
  opacity: 0.6;
}
.sorting__link:active {
  opacity: 1;
}
.sorting__button {
  width: 18px;
  height: 18px;
  align-self: center;
}
.sorting__button:not(:last-child) {
  margin-right: 16px;
}
.sorting__button--more {
  background-image: url(./img/icon-up-dir.svg);
  opacity: 0.3;
}
.sorting__button--less {
  background-image: url(./img/icon-down-dir.svg);
}
.sorting__button:hover,
.sorting__button:focus {
opacity: 0.6;
}
.sorting__button:active {
  opacity: 1;
}
.sorting__wrapper {
  background-color: var(--basic-white);
}
.sorting__items {
  margin: 69px 0 40px 72px;
}
.items__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.items__item {
  position: relative;
  max-width: 360px;
  margin-bottom: 48px;
}
.items__action {
  display: none;
}
.items__image {
  margin-bottom: 30px;
}
.items__item:hover .items__image {
  opacity: 0.7;
}
.items__item:hover .items__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 381px;
  position: absolute;
  top: 0;
}
.items__item--new::before {
  content: '';
  position: absolute;
  right: 27px;
  top: 29px;
  z-index: 2;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-image: url(./img/new-position.svg);
}
.items__title {
  margin: 0;
  padding: 0;
}
.items__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}
.items__block {
  display: flex;
}
.items__span {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding-top: 3px;
  display: block;
}
.items__button {
  margin-bottom: 22px;
}
.items__button-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--basic-black);
  opacity: 0.5;
}
.items__button-compare:hover,
.items__button-compare:focus {
  opacity: 1;
}
.items__button-compare:active {
  opacity: 0.2;
}
.sorting__paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-bottom: 78px;
  background-color: var(--special-grey-light);
}
.paginator__list {
  margin: 0;
  padding: 0;
}
.paginator__item:not(:last-child) {
  margin-right: 30px;
}
.paginator__link {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 25px 30px;
}
.paginator__link:hover,
.paginator__link:focus {
  background-color: var(--special-grey-paginator);
}
.paginator__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.paginator__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.paginator__link-numbers {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: var(--basic-black);
  opacity: 0.3;
}
.paginator__link-numbers:hover,
.paginator__link-numbers:focus {
  opacity: 0.6;
}
.paginator__link-numbers:active {
  opacity: 1;
}
.footer-navigation__link {
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 24px;
}
.footer-navigation__item--login {
  position: relative;
}
.footer-navigation__item--login::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 7px;
  width: 13px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(./img/user-sp-yellow.svg);
}
